 /* -------------------------------------
            GLOBAL RESETS
        ------------------------------------- */
 body,
 table,
 td,
 div,
 p,
 a {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 /* -------------------------------------
            BODY & CONTAINER
        ------------------------------------- */
 body,
 table,
 td,
 div,
 p,
 a {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 /* -------------------------------------
            BODY & CONTAINER
        ------------------------------------- */
 body {
     background-color: #f6f6f6;
     color: #333;
     font-size: 14px;
     line-height: 1.6;
     -webkit-font-smoothing: antialiased;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     width: 100% !important;
     height: 100% !important;
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }

 .container {
     max-width: 1000px;
     background: #ffffff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 100%;
     margin: 20px;
 }

 /* -------------------------------------
            HEADER, FOOTER, MAIN
        ------------------------------------- */
 .header,
 .footer {
     text-align: center;
     padding: 10px 0;
 }

 .header {
     background-color: #348eda;
     color: #ffffff;
 }

 .footer {
     background-color: #f6f6f6;
     color: #999999;
     font-size: 12px;
 }

 .main {
     padding: 20px;
     background: #ffffff;
     border: 1px solid #e9e9e9;
     border-radius: 3px;
 }

 .wrapper {
     padding: 20px;
 }

 .content-block {
     padding-bottom: 20px;
 }

 /* -------------------------------------
            TYPOGRAPHY
        ------------------------------------- */
 h1,
 h2,
 h3 {
     color: #000;
     font-weight: 400;
     line-height: 1.4;
     margin: 0 0 20px;
 }

 h1 {
     font-size: 26px;
 }

 h2 {
     font-size: 22px;
 }

 h3 {
     font-size: 20px;
 }

 p,
 ul,
 ol {
     margin-bottom: 15px;
     font-size: 16px;
 }

 a {
     color: #348eda;
     text-decoration: none;
 }

 /* -------------------------------------
            BUTTONS
        ------------------------------------- */
 .btn {
     display: inline-block;
     padding: 12px 25px;
     margin-bottom: 20px;
     font-size: 14px;
     font-weight: bold;
     color: #ffffff;
     background-color: #636e76;
     border-radius: 5px;
     text-align: center;
     text-decoration: none;
 }

 .btn:hover {
     background-color: #2672a6;
 }

 /* -------------------------------------
            RESPONSIVE STYLES
        ------------------------------------- */
 @media only screen and (max-width: 620px) {
     .container {
         width: 100% !important;
         padding: 0;
     }

     .wrapper,
     .main {
         padding: 10px !important;
     }

     .btn {
         width: 100% !important;
     }
 }